@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

.service{
    height: 214vh;    
}
.box{
    display: flex;
    border: 1px white solid;
    width: 100vw;
    height: 250px;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}
.box img{
    width: 220px;
    height: 250px;
}
.titlebox{
    text-align: center;
    font-size: 36px;
    margin-top: 30%;
    margin-left: 10%;
}
.bookbtn{
     border: 1px solid #323686;
    background-color:#323686;
    box-shadow:6px 6px 10px #121430;  
    width: 120px;
    height: 55px;
    margin-left: 22%;
    margin-top: 10%;
}
.bookbtn a{
    color: white;
    text-decoration: none;
    margin-left: 25%;
    font-size: 35px;
}
.title{
    color: white;
    font-family: 'Bodoni Moda';
    padding-top: 25%; 
    font-size: 33px;
    text-align: center;
}

@media (min-width:320px){
    .service{
        height: 214vh; 
        display: inline;  
    }
    .box{
        display: flex;
        width: 100vw;
        height: 250px;
        background-color: white;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .box img{
        width: 220px;
        height: 240px;
    }
    .titlebox{
        text-align: center;
        font-size: 27px;
        margin-top: 30%;
        margin-left: 10%;
    }
    .bookbtn{
         border: 1px solid #323686;
        background-color:#323686;
        box-shadow:6px 6px 10px #121430;  
        width: 117px;
        height: 55px;
        margin-left: 17%;
        margin-top: 10%;
    }
    .bookbtn a{
        color: white;
        text-decoration: none;
        margin-left: 25%;
        font-size: 35px;
    }
    .bookbtn:hover{
       
    background-color: #232770;
          
    }
    .title{
        color: white;
        font-family: 'Bodoni Moda';
        padding-top: 25%; 
        font-size: 33px;
        text-align: center;
    }
}

@media (min-width:1025px){
    .service{     
    height: 100vh; 
    margin: 0;
    padding: 0;
    }
    .flexme{
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
    }
    .box{
        flex: 1 0 21%; 
        margin: 7px;
        height: 250px;
        margin-top: 5%;
    }
    .box img{
        width: 240px;
        height: 245px;
    }
    .title{
        color: white;
        font-family: 'Bodoni Moda';
        font-size: 33px;
        margin-right: 40%;
        margin-top: 17%;
        padding-top: 0; 
        /* border: white 1px solid; */
    }
}