.service{
    /* border: 1px white solid; */
    height: 500vh;

    
}
.box{
    display: flex;
    border: 1px white solid;
    width: 100vw;
    height: 250px;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}
.box img{
    width: 220px;
    height: 250px;
}
.titlebox{
    text-align: center;
    font-size: 36px;
    margin-top: 30%;
    margin-left: 10%;
}
.bookbtn{
     border: 1px solid #323686;
    background-color:#323686;
    box-shadow:6px 6px 10px #121430;  
    width: 120px;
    height: 55px;
    margin-left: 22%;
    margin-top: 10%;
}


.bookbtn a{
    color: white;
    text-decoration: none;
    margin-left: 25%;
    font-size: 35px;
    
}