
 .service{
     background-color: #06102f;
     color: white;
     padding-top: 7%;
     /* border:1px white solid; */
}
.service h1{ 
 font-size: 43px;
 padding-left: 45%;
 padding-top: 11%;
 padding-bottom: 2%;
}
.service_body{
 display: inline-flex;
 overflow: hidden;
 width: 100vw;
    background-color: #06102f;
    color:white;
    padding-top: 5%;
    /* border:1px white solid; */
}
.category{
    display: flex;
    font-size: 20px;
    /* border:1px white solid; */
}
.category p{
    margin-left: 2%;
    padding: 4%;
    font-size: 22px;
    text-align: center;
}
.box{
    background-color: #1b1e61;
    border-radius: 10%; 
    width: 20vw;
    height: 70vh; 
    margin-left: 4%;
}
.box p, h3, a{
    padding-left: 6%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;  
}
.bookbtn{
    padding-top: 15%;
    width: 900px;
}
.bookbtn a{
    text-decoration: none;
    color: white;
    border: 1px solid #323686;
    background-color:#323686;
    box-shadow:6px 6px 10px #121430;  
    border-radius: 3%; 
}
.up{
    font-size: 24px;
}
.titlebox{
    height: 60px;
}
.des{
    height: 70px;
}
.box img{
    width: 20vw;
    height: 30vh;
    border-radius: 4%; 
}
.one, .two, .three, .four, .five,.six{
    background-color:#323686 ;
    box-shadow:6px 6px 10px #1d2050;  
    border-radius: 30%;
    width: 14%;
    margin-top: 2%;
}
.one, .two, .three, p{
    padding-left: 1%;
}