
body{
    background-color: #06102f;
}
.about{
    display: flex;
    padding-bottom: 8%;
    background-color: #06102f;
    color: white;
    padding-left: 4%;
    padding-top: 10%;
}
.about img{
    margin-top: 11%;
    width: 665px;
    height: 510px;
}
.about p{
    width: 36vw;
    margin-right: 10%;
    line-height: 30px;
}
.about_text{
    color: white;
    font-size: 65px;
    background-color:#06102f; ;
    padding-top: 5%;
    padding-bottom: 7.4%;
    margin-top: 6%;
    line-height: 55px;
}

@media all and (max-width: 1180px){
    .about{
        display:block;
        padding-top: 40%;
    }
    .about p{
        width: 260vw;
        line-height: 40px;
        font-size: 30px;
        padding-right: 10%;
        padding-left: 10%;
    }
    .about_text{
    font-size: 85px;
    padding-top: 5%;
    padding-bottom: 7.4%;
    margin-top: 6%;
    line-height: 55px;
    padding-left: 0%;
    }
    .about img{
        margin-top: 11%;
        width: 800px;
        padding-left: 10%;
        height: 510px;
    }
}