@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

 .header{
     margin-top: 28%;
    background-color: #06102f;
    color: white;
    height: 45vh;
    margin-left: 10vw;
}

.header img{
    height: 300px;
    width: 300px;
    margin-top: 4%;
    margin-left: 5%;
}
.headertitle{
    font-size: 15px;
    text-align: center;
}
.headertitle h4{
    font-family: 'Bodoni Moda';
    font-size: 33px;
    text-align: center;
    margin-bottom: 2%;
}

@media (min-width:1025px){
    .header{
        margin-top: 7%;
        display: flex;
   }
   .header img{
    height: 430px;
    width: 585px;
    margin-top: 1%;
    margin-left: 17%;
}
.headertitle h4{
    font-size: 51px;
    width:350px;
    text-align: center;
    margin-bottom: 6%;
}
.headertitle p{
    line-height: 50px;
}
}
