@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

 .header{
     margin-top: 28%;
    background-color: #06102f;
    color: white;
    height: 45vh;
    margin-left: 10vw;
    padding-bottom: 15%;
}

.header img{
    height: 300px;
    width: 300px;
    margin-top: 4%;
    margin-left: 5%;
}
.headertitle{
    font-size: 15px;
    text-align: center;
}
.headertitle h4{
    font-family: 'Bodoni Moda';
    font-size: 33px;
    text-align: center;
    margin-bottom: 2%;
}
.fb a{
    text-decoration: none;
}


@media (min-width:320px){
    .header{
        margin-top: 0%;
       background-color: #06102f;
       color: white;
       height: 65vh;
       margin-left: 10vw;
       margin-bottom: 28%;
   }
   
   .header img{
       height: 300px;
       width: 300px;
       margin-top: 4%;
       margin-left: 5%;
   }
   .headertitle{
       font-size: 15px;
       text-align: center;
   }
   .headertitle h4{
       font-family: 'Bodoni Moda';
       font-size: 40px;
       text-align: center;
       margin-bottom: 2%;
   }
   .headertitle p{
    line-height: 43px;
    color: #D3D3D3;
}
   .fb img{
    width: 250px;
    height: 100px;
}
}
@media (min-width:1025px){
    .header{
        margin-top: 8%;
        display: flex;
        /* border: white 1px solid; */
   }
   .header img{
    height: 470px;
    width: 755px;
    margin-top: 1%;
    margin-left: 1%;
    /* border: white 1px solid; */
}
.headertitle h4{
    font-size: 55px;
    width:350px;
    text-align: center;
    margin-bottom: 6%;
}
.headertitle p{
    line-height: 43px;
    color: #D3D3D3;
    /* border: white 1px solid; */
}
.fb img{
    width: 300px;
    height: 150px;
    
    /* border: white 1px solid; */
}
.fb:hover{
    cursor: pointer;
    background-color: transparent;
    outline: transparent;
    border: transparent;
    text-decoration: none;
}
}
