@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

.nav{
 margin-left: 8%;
}
/* TITLE */
.nav div{
color: white;
font-size: 50px;
margin-top: 6%;
font-family: 'Bodoni Moda';
}
/* BUTTON */
.nav a{
  background-color: #1b1e61;
  font-size: 25px;
 color: white;
 text-decoration: none;
 margin-top: 6%;
 margin-left: 11%;
 border-radius: 5%;
}

@media (min-width:1025px){
.nav{
  display: flex;
  margin-left: 28%;
}
.nav div{
  font-size: 70px;
}
.nav a{
  font-size: 12px;
  height: 23px;
  padding-bottom: 4%;
  margin-right: 11%;
}
}
