

.nav{
    display: flex;
    background-color: #06102f;
    width: 100vw;
    height: 7vh;
}
.logo{
    background-color: #1b1e61;
    border-radius: 40%;
}
.nav a{
    text-decoration: none;
    color: white;
}
.book_btn{
    background-color: #1b1e61;
}