

.imglibrary{
    display: flex;
    width: 100vw;
    height: 500px;
    padding-left: 2%;
    padding-right: 2%;
}
.imglibrary img{
    width: 320px;
    height: 320px;
    margin-left: 5%;
    box-shadow:10px 10px 10px #0a0b0e;  

}
.worktitle{
    font-size: 37px;
    color: white;
    margin-left: 63vh;
    padding-bottom: 5%;
    padding-top: 10%;
}